:root {
  --white-color: #fff;
  --grey-color: #cdcbcb;
}

body {
  overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
}

body:has(.main-content-sec) h1,
body:has(.main-content-sec) h2,
body:has(.main-content-sec) h3,
body:has(.main-content-sec) h4,
body:has(.main-content-sec) h5,
body:has(.main-content-sec) h6,
body:has(.main-content-sec) p {
  margin-bottom: 0 !important;
}

body:has(.main-content-sec) .element-input-field input {
  border-width: 1px !important;
}

body:has(.login-sec),
body:has(.low-nav-bar),
body:has(.main-content-sec) {
  background-color: #00b2aa05 !important;
}

p {
  word-break: break-all;
}

body:has(.main-content-sec) .swiper-pagination {
  display: none;
}

input {
  display: block !important;
}

.field-option-sec {
  background-color: #f8f8f8;
  border: 1px solid var(--grey-color);
  padding: 20px;
  border-radius: 4px;
  max-height: 590px;
  overflow: hidden auto;
}

.field-option-sec .field-option {
  border: 1px solid #cdcbcb;
  padding: 10px 12px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: var(--white-color);
  cursor: pointer;
  font-size: 15px;
}

.field-option-sec .field-option:last-child {
  margin-bottom: 0px !important;
}

.main-div {
  background-color: #f8f8f8;
  position: relative;
  border: 1px solid var(--grey-color);
  border-radius: 4px;
}

.main-content-sec {
  padding: 14px;
  padding-top: 16px !important;
  display: flex;
  flex-wrap: wrap;
}

.drag-over-space {
  padding-bottom: 120px !important;
}

.card-border {
  border: 1px solid var(--grey-color);
}

.main-content-sec .element-column {
  padding: 14px;
  padding-top: 9px;
  background-color: var(--white-color);
  border: 1px solid var(--grey-color);
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 4px;
  width: 100%;
  height: fit-content;
  cursor: grab;
  overflow: hidden;
}

.main-content-sec .element-column.selected {
  border-color: #53c4f7;
  border-width: 1.6px !important;
}

.main-content-sec .element-column.selected-card {
  border-width: 1.6px !important;
  border-color: rgb(247 165 83) !important;
}

.main-content-sec .element-column.hidden {
  opacity: 0.5;
}

.element-create-sec {
  padding-bottom: 30px !important;
}

.field-customize-sec {
  padding: 20px;
  background-color: #f8f8f8;
  /* border: 1px solid var(--grey-color); */
  border-radius: 4px;
  /* height: 460px; */
  overflow-y: auto;
  position: relative;
  height: 100%;
}

.main-div.scrollable {
  max-height: 590px;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-content-sec.layer::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgb(190, 189, 189);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(169, 169, 169);
}

.field-customize-sec .customize-prop-sec label {
  display: block;
  margin-bottom: 7px;
  text-transform: capitalize;
  font-size: 15px;
}

.field-customize-sec .customize-prop-sec {
  margin-bottom: 20px;
}

.field-customize-sec .customize-prop-sec .css-19bb58m {
  padding: 4px 0px !important;
}

.field-customize-sec .customize-prop-sec .customize-input,
.modal-dialog-customize .customize-input,
.setting-box .customize-prop-sec .customize-input {
  background-color: var(--white-color);
  width: 100%;
  padding: 11px;
  border-radius: 7px;
  outline: none;
  border: 1px solid var(--grey-color);
  transition: ease-in-out 0.5s;
}

.field-customize-sec .customize-prop-sec input[type="text"]:focus,
.field-customize-sec .customize-prop-sec input[type="number"]:focus,
.setting-box .customize-prop-sec input[type="text"]:focus,
.setting-box .customize-prop-sec input[type="number"]:focus {
  box-shadow: 0 0 0 1.5px #00b2aa30;
  border-color: #00b2aa !important;
}

.field-customize-sec .customize-prop-sec input[aria-haspopup="true"]:focus {
  box-shadow: none !important;
  border: none !important;
}

.element-input-field.float-label .password-btn {
  top: 10px !important;
}

.element-input-field {
  position: relative;
  /* z-index: 1; */
  color: #000;
}

.index-1 {
  z-index: 100 !important;
}

.no-standard-border {
  border-color: #cdcbcb !important;
}

.element-input-field.standard-input input {
  border: none;
  border-bottom: 1.7px solid var(--grey-color);
  border-radius: 0px !important;
  padding: 10px 0px !important;
}

.element-input-field input::placeholder {
  color: #aaa9a9;
}

.element-input-field.standard-input label {
  left: 0px !important;
  padding: 0 !important;
}

.element-input-field.standard-input .standard-line {
  content: "";
  display: block;
  height: 1.6px;
  width: 0%;
  background-color: #000;
  transition: all 0.4s;
  z-index: 1;
  position: relative;
  margin-top: -1.5px;
}

.element-input-field.standard-input input::placeholder {
  font-size: 15px;
}

.element-input-field.standard-input:has(input:focus) .standard-line {
  width: 100%;
}

.element-input-field.standard-input:has(input:valid) label,
.element-input-field.standard-input:has(input:focus) label {
  top: -12px !important;
  font-size: 13px;
}

.element-input-field.float-label {
  margin-top: 15px;
}

.element-input-field.float-label label {
  position: absolute;
  left: 14px;
  top: 14px;
  transition: all 0.3s;
  background-color: white;
  /* z-index: -1; */
  /* background-color: transparent; */
}

.element-input-field.float-label input::placeholder {
  color: transparent;
  font-size: 15px;
}

.element-input-field.float-label input:focus::placeholder {
  color: #aaa9a9;
  transition: all 0.4s;
}

.element-input-field:not(.standard-input).float-label:has(input:valid) label,
.element-input-field:not(.standard-input).float-label:has(input:focus) label {
  top: -8px;
  left: 8px;
  font-size: 12.5px;
  padding: 0px 4px;
  z-index: 1 !important;
}

.element-input-field label {
  margin-bottom: 6px;
  display: inline-block;
  font-size: 15px;
  /* background-color: transparent; */
}

.element-input-field input {
  background-color: transparent;
  width: 100%;
  padding: 12px !important;
  border-radius: 4px;
  outline: none;
  border: 1.8px solid var(--grey-color);
  transition: all 0.4s;
  color: #aaa9a9 !important;
}

.element-input-field .dropdown-box {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1);
  right: 0;
  left: 0;
  padding: 5px 0px;
  top: 52px;
  display: none;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1200;
  /* z-index: 2300; */
}

.element-input-field.normal-input .dropdown-box {
  top: 84px !important;
}

.element-input-field.normal-input .clear-btn {
  top: 40px !important;
  right: 8px !important;
}

.element-input-field.standard-input .clear-btn {
  right: -2px !important;
}

.element-input-field .clear-btn {
  position: absolute;
  right: 3px;
  top: 10px;
  color: #706e6e;
  transform: scale(1.1);
}

.element-input-field:not(.standard-input).float-label .clear-btn {
  right: 10px !important;
  top: 12px !important;
}

.element-input-field .dropdown-box.open {
  display: block;
}

.element-input-field .dropdown-box .option-sec {
  padding: 8px 12px;
  cursor: pointer;
}

.element-input-field .dropdown-box .option-sec:hover {
  background-color: #deebff;
}

.css-19bb58m {
  margin: 6px !important;
}

.field-render {
  pointer-events: none;
}

.required {
  color: red;
}

.width-tab-sec {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* .w-65:hover {
  width: 65px !important;
} */

.width-tab-sec button {
  width: 100%;
  background-color: var(--white-color);
  padding: 5px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--grey-color);
  vertical-align: top;
  font-size: 14px;
  white-space: nowrap;
}

.width-tab-sec button.selected {
  border-color: #53c4f7;
  color: #53c4f7;
}

.width-customize-sec label {
  margin-bottom: 6px;
  display: block;
  text-transform: capitalize;
}

.width-customize-sec input {
  background-color: var(--white-color);
  width: 100%;
  padding: 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--grey-color);
}

.width-customize-sec input[type="range"] {
  padding: unset !important;
}

.customize-checkbox {
  margin-left: 4px;
  margin-bottom: 20px;
}

.customize-checkbox input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
  /* margin-top: 2px; */
  outline: none;
}

.customize-checkbox label {
  cursor: pointer;
}

.customize-option-sec input {
  background-color: var(--white-color);
  width: 100%;
  padding: 6px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--grey-color);
  margin-bottom: 12px;
}

.modal-dialog-customize .add-option {
  background-color: var(--white-color);
  border: 1px solid #a3a3a3;
  border-radius: 4px;
  outline: none;
  align-items: center;
  margin-left: 15px;
  padding: 0px 8px;
  display: flex;
  font-size: 22px;
}

.stepper-mt {
  margin-top: 28px;
}

.customize-option-sec .option-input {
  position: relative;
}

.customize-option-sec .delete-content-btn {
  width: 90%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 14.5px;
}

.customize-option-sec .page-item-link {
  white-space: nowrap;
  display: block;
}

.customize-option-sec .redirect-page {
  color: #0d6efd !important;
  margin-right: 7px !important;
  margin-top: -2px !important;
  margin-left: 2px;
  font-size: 22px;
}

.customize-option-sec .option-input input {
  padding-right: 34px;
}

.error-message {
  color: red;
  font-size: 14px;
  display: block;
}

.page-list-sec {
  margin-top: 110px !important;
}

.page-list-sec .page-section-tab {
  background-color: var(--white-color);
  border: 1px solid var(--grey-color);
  border-radius: 4px;
  padding: 18px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 25px;
  text-transform: capitalize;
  transition: all 0.5s;
}

.page-list-sec .search-input-sec input {
  background-color: var(--white-color);
  width: 100%;
  padding: 13px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--grey-color);
}

.page-create-sec label {
  margin-bottom: 6px;
  display: block;
  text-transform: capitalize;
  font-size: 14px;
}

.page-create-sec input {
  background-color: var(--white-color);
  width: 100%;
  padding: 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--grey-color);
  margin-bottom: 12px;
}

.web-div {
  flex-wrap: wrap;
}

.publish-btn-sec a{
  text-decoration: none;
}

.publish-btn-sec button,
.publish-btn-sec a {
  background-color: var(--white-color);
  /* width: 100%; */
  padding: 8px 14px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #00b2aa;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00b2aa;
  text-transform: capitalize;
  font-size: 15px;
}

.publish-btn-sec button svg,
.publish-btn-sec a svg {
  margin-right: 7px;
}

.loader-sec {
  position: fixed;
  left: 0;
  right: 0;
  background: #8080804f;
  z-index: 1500;
  bottom: 0;
  top: 0;
  display: grid;
  place-items: center;
}

.main-content-sec .element-column:hover .delete-element-btn,
.card-sec .element-column:hover .delete-element-btn2 {
  width: 114px;
  transform: translateX(0px);
  box-shadow: -1px 1px 3px #8080804a;
}

.w-65:hover .delete-element-btn {
  width: 87px !important;
}

.delete-element-btn,
.delete-element-btn2 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
  background-color: var(--white-color);
  border-left: 1px solid var(--grey-color);
  border-bottom: 1px solid var(--grey-color);
  z-index: 100;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  /* display: none; */
  width: 0px;
  cursor: pointer !important;
  transition: all 0.4s;
  overflow: hidden;
  transform: translateX(20px);
}

.delete-element-btn .inner-btn-sec,
.delete-element-btn2 .inner-btn-sec {
  width: 106px;
  position: relative;
}

.delete-element-btn .inner-btn-sec::after,
.delete-element-btn2 .inner-btn-sec::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: 1;
  transition: all 0.5s;
}

.delete-element-btn .inner-btn-sec svg,
.delete-element-btn2 .inner-btn-sec svg {
  margin-right: 7px;
}

/* .delete-element-btn:hover,
.delete-element-btn2:hover {
  width: 86px;
} */

.delete-element-btn:hover .inner-btn-sec::after,
.delete-element-btn2:hover .inner-btn-sec::after {
  z-index: -1;
}

.fw-bold {
  text-transform: capitalize;
}

.d-flex.hide {
  display: none !important;
}

hr {
  margin: 0 !important;
}

.card-sec {
  /* border-radius: 6px; */
  display: flex;
  flex-wrap: wrap;
}

.card-sec .no-data {
  margin: 50px 0px !important;
  flex: 100%;
  text-align: center;
}

.drag-indicator svg {
  transform: rotate(90deg);
  font-size: 21px;
}

.pointer-none {
  pointer-events: none;
}

.pointer-auto {
  pointer-events: auto !important;
}

.cursor-auto {
  cursor: auto !important;
}

.img-border {
  /* border: 1px solid #8080804a; */
  width: fit-content;
}

.shadow-card {
  padding: 20px !important;
  box-shadow: 0 0 5px 2px #80808042;
  border-radius: 10px;
}

.border-card {
  padding: 20px !important;
  border: 1px solid #8080804a;
  border-radius: 10px;
}

.border-shadow-card {
  padding: 20px !important;
  box-shadow: 0 0 5px 2px #80808042;
  border: 1px solid #8080804a;
  border-radius: 10px;
}

.check-box-section input {
  transform: scale(1.5);
  margin-right: 10px;
  margin-left: 3px;
}

.check-box-section label {
  font-size: 15px;
  text-transform: capitalize;
}

.stepper-sec {
  position: relative;
  margin-top: 8px;
  overflow: hidden;
}

.indicator-line {
  position: absolute;
  height: 3.2px;
  left: 0px;
  right: 0px;
  top: 13px;
  background-color: #e0dddd;
  z-index: -1;
}

.active-indicator-line {
  position: absolute;
  height: 3.2px;
  left: 0px;
  top: 13px;
  right: 0px;
  background-color: #223cc5;
  z-index: -1;
  width: 0%;
  /* transition: all 0.1s; */
}

.current-line {
  width: 50%;
}

.previous-line {
  width: 100%;
}

.progress-stepper-sec {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.mobile-stepper-sec {
  display: none;
}

.progress-inner-step {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
  text-align: center;
  flex: 1;
}

.progress-inner-step:first-child::after {
  content: "";
  display: block;
  width: 50%;
  background-color: var(--white-color);
  height: 30px;
  position: absolute;
  left: 0px;
}

.progress-inner-step:last-child::after {
  content: "";
  display: block;
  width: 50%;
  background-color: var(--white-color);
  height: 30px;
  position: absolute;
  right: 0px;
}

.pointer-sec {
  height: 30px;
  width: 30px;
  background-color: #d0cdcd;
  border-radius: 50%;
  box-sizing: border-box;
  margin-bottom: 5px;
  display: grid;
  color: #fff;
  place-items: center;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 14px;
  transition: all 0.4s;
  background-repeat: no-repeat;
  background-position: center;
}

.step-active {
  background-color: #223cc5 !important;
}

.step-txt {
  color: #9a9999;
  font-weight: 500;
  font-size: 15px;
  margin: 0px 7px;
}

.step-txt-active {
  color: #223cc5 !important;
}

.step-txt-completed {
  color: #000 !important;
}

.step-completed {
  background-color: #223cc5 !important;
}

.stepper-content {
  display: flex;
  flex-wrap: wrap;
}

.ml-3 {
  margin-left: 24px;
}

.page-item-link {
  text-decoration: none;
}

.swiper {
  padding: 0px 10px !important;
}

.swiper-wrapper {
  padding-top: 10px !important;
}

.paginationInside .swiper-pagination {
  position: relative !important;
  margin-top: 15px;
}

.customize-content-table table thead th {
  font-weight: 500 !important;
  border-bottom: 1px solid var(--grey-color);
  border-left: 1px solid #dee2e6;
  padding: 8px 16px;
}

.menu-customize-sec .go-back-btn {
  margin-left: 25px !important;
  margin-right: 0px !important;
}

.customize-content-table table {
  margin-bottom: 0px !important;
}

.customize-content-table table td {
  border-left: 1px solid #dee2e6;
}

.customize-content-table table thead th:first-child,
.customize-content-table table tr td:first-child {
  border-left: none !important;
}

.customize-content-table table tr:last-child td {
  border-bottom-width: 0px !important;
}

.customize-content-table thead {
  position: sticky;
  z-index: 100;
  top: -1px;
}

.customize-content-table {
  /* height: 65vh;
  overflow-y: auto; */
  border: 1px solid var(--grey-color);
  /* border-radius: 4px; */
  /* overflow: hidden; */
}

.customize-content-table tbody tr {
  cursor: grab;
}

.css-1nmdiq5-menu {
  z-index: 120 !important;
}

.clear-background-btn {
  margin-top: 29px;
}

.navbar-section {
  padding: 10px 20px;
  box-shadow: 0 0 5px 2px #80808042;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1200;
  top: 0;
  background-color: var(--white-color);
  display: flex;
}

.nav-link-sec {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link-sec a {
  text-decoration: none;
  font-size: 15px;
}

.snack-bar-sec {
  padding: 20px;
  border-radius: 10px;
  width: 380px;
  text-align: center;
  color: var(--white-color);
  font-size: 16px;
  position: fixed;
  right: 30px;
  top: 30px;
  transition: all 0.5s;
  transform: translateX(500px);
  box-shadow: 0px 0px 5px 1px #8080807d;
  z-index: 1400;
}

.snack-bar-sec.open {
  transform: translateX(0px);
}

@keyframes snackBarHide {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(500px);
  }
}

.danger {
  background-color: rgb(248, 44, 44);
}

.success {
  background-color: rgb(19, 199, 19);
}

.snack-bar-sec svg {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.login-sec {
  max-width: 100%;
  background-color: var(--white-color);
}

.login-sec .left-panel {
  place-items: center;
  height: 100%;
  display: grid;
}

.login-sec .left-panel .inner-left-sec {
  width: 64%;
}

.login-sec .row {
  height: 100vh;
}

.register {
  padding: 30px 50px !important;
}

.register .row-sec {
  flex-direction: row-reverse;
}

.login-sec .input-field {
  margin-bottom: 30px;
  position: relative;
}

.login-sec .input-field input {
  background-color: transparent;
  width: 100%;
  padding: 12px;
  border-radius: 7px;
  outline: none;
  border: 1px solid var(--grey-color);
  margin-bottom: 3px;
  transition: ease-in-out 0.5s;
}

.login-sec .input-field input:focus {
  box-shadow: 0 0 0 1.5px #00b2aa30;
  border-color: #00b2aa;
}

.login-sec h3 {
  margin-bottom: 37px;
}

.login-sec button {
  width: 100%;
  padding: 8px;
}

.login-sec .text-sec {
  margin-top: 41px;
}

.login-sec .text-sec p {
  font-size: 14.5px;
  margin-top: 11px;
}

.login-sec .text-sec a {
  text-decoration: none;
}

.login-sec .input-field.float-label:has(input:valid) label,
.login-sec .input-field.float-label:has(input:focus) label {
  top: -9px;
  left: 8px;
  font-size: 13px;
  padding: 0px 5px;
  z-index: 1 !important;
}

.login-sec .input-field.float-label {
  margin-top: 15px;
}

.login-sec .input-field.float-label label {
  position: absolute;
  left: 14px;
  top: 13px;
  transition: all 0.3s;
  z-index: 0;
  font-size: 15px;
  background: var(--white-color);
}

.login-sec .input-field.float-label input::placeholder {
  color: transparent;
  font-size: 15px;
}

.login-sec .input-field.float-label input:focus::placeholder {
  color: #aaa9a9;
  transition: all 0.4s;
}

.logo-sec {
  display: grid;
  place-items: center;
  height: 100%;
  background-image: linear-gradient(#06746f, #00b2a96b);
}

.logout-btn,
.add-page-btn,
.page-create-btn {
  background-color: #00b2aa !important;
  border-color: #00b2aa !important;
  display: flex !important;
  align-items: center;
  justify-content: space-around;
  border-radius: 7px;
  padding: 6px 16px !important;
}

.login-sec .btn-primary {
  background-color: #00b2aa !important;
  border-color: #00b2aa !important;
  display: flex !important;
  align-items: center;
  justify-content: space-around;
  border-radius: 7px;
  padding: 10px 16px !important;
}

.input-field .start-input-icon {
  position: absolute;
  top: 11px;
  left: 10px;
  color: rgb(85, 83, 83);
}

.input-field:has(.start-input-icon) input {
  padding-left: 38.4px !important;
}

.input-field.float-label:has(.start-input-icon) label {
  left: 38.5px;
  top: 12.7px;
}

.add-page-btn {
  margin-right: 30px !important;
}

.page-create-btn {
  margin-left: 16px !important;
}

.password-btn {
  position: absolute;
  right: 15px;
  top: 9px;
  cursor: pointer;
  font-size: 20px;
}

.element-input-field.standard-input .password-btn {
  right: 2px;
  top: 7px;
}

.element-input-field:not(.standard-input) .password-btn {
  top: 39px;
  right: 13px;
}

.icons-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  /* height: 84%;
  overflow-y: auto; */
}

.no-grid {
  place-items: center;
  grid-template-columns: unset !important;
  /* height: 60%; */
}

.icons-list .icon-sec {
  border: 1px solid var(--grey-color);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--white-color);
}

.icons-list .icon-sec svg {
  font-size: 27px;
  margin-bottom: 10px;
}

.icons-list .icon-sec .icon-text {
  word-break: break-all;
  text-align: center;
  width: 170px;
  display: block;
  line-height: 21px;
}

.icon-search-input {
  padding: 23px;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--grey-color);
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
}

.icon-search-input input {
  width: 100%;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--grey-color);
}

.icon-search-input button {
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
}

.icon-box .modal-body {
  padding: 0px !important;
}

.font-box .font-search-input {
  padding: 20px;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--grey-color);
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
}

.font-box .font-search-input input {
  width: 100%;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--grey-color);
}

.font-box .font-search-input button {
  height: 41px;
  padding-left: 20px;
  padding-right: 20px;
}

/* .font-box {
  padding: 0px !important;
  max-height: 400px;
  overflow-y: auto;
} */

.font-box .fonts-list {
  padding: 20px;
  margin-top: 10px;
}

.font-box .fonts-list .font-sec {
  border: 1px solid var(--grey-color);
  border-radius: 8px;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: var(--white-color);
  text-transform: capitalize;
}

.main-content-sec .element-column .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}

.icon-radio-btn {
  transform: scale(1.5);
  margin-right: 9px;
  margin-left: 3px;
}

.web-div .btn {
  padding: 10px !important;
}

/* .overflow-hide{
  overflow: hidden;
} */

/* .no-scroll {
  overflow-y: unset !important;
  height: 466px !important;
} */

.modal-fullscreen .modal-body {
  background-color: #f8f8f8;
}

.low-nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 5px 2px #80808042;
  padding: 14px 17px;
  background-color: var(--white-color);
  z-index: 1000;
}

.go-back-btn,
.add-icon-btn,
.add-content-btn,
.clear-background-btn {
  background-color: #00b2aa !important;
  border-color: #00b2aa !important;
}

.go-back-btn {
  display: flex !important;
  align-items: center;
  font-size: 15px !important;
  margin-right: 30px !important;
}

.icons-list .spinner-border,
.fonts-list .spinner-border,
.image-customize-sec .spinner-border {
  color: #00b2aa !important;
}

.icon-clear-btn {
  position: absolute;
  right: 15px;
  top: 13px;
}

.uploaded-images-sec {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 20px;
  grid-column-gap: 20px;
}

.uploaded-images-sec .image-select-sec {
  border: 1px solid var(--grey-color);
  border-radius: 8px;
  padding: 15px;
  background-color: var(--white-color);
  margin-bottom: 20px;
  cursor: pointer;
}

.uploaded-images-sec .image-select-sec .image-name {
  margin-left: 20px;
}

.upload-image-btn {
  background-color: var(--white-color);
  border: 1px dashed #00b2aa;
  padding: 15px;
  border-radius: 5px;
  position: relative;
}

.upload-image-btn label {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.upload-image-btn svg {
  color: #00b2aa;
}

.upload-image-btn .click-text {
  color: #00b2aa;
}

.upload-image-btn input {
  display: none !important;
}

.uploaded-image {
  background-color: var(--white-color);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #00b2aa;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.uploaded-image svg:nth-child(1) {
  margin-right: 10px;
  color: #00b2aa;
}

.background-image-props {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover;
}

.card-main-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
}

/* .field-sec-customize-modal .modal-body {
  height: 460px !important;
  overflow-y: auto;
} */

.select-image-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3px 8px;
  border-bottom-left-radius: 5px;
  font-size: 13px !important;
  background-color: #00b2aa;
  color: var(--white-color);
  z-index: 1;
}

.input-style {
  background-color: transparent !important;
  border: none !important;
}

.tooltip[id="align-tooltip"] .tooltip-inner {
  text-align: left !important;
  font-size: 13px !important;
  line-height: 18px !important;
  padding: 10px 11px !important;
}

.no-option {
  color: #706e6e;
  cursor: auto !important;
}

.no-option:hover {
  background-color: transparent !important;
}

.select-container-sec {
  position: absolute;
  margin-left: 2px;
  display: inline-block;
}

.select-container-sec input {
  transform: scale(1.3);
  margin-right: 9px;
  cursor: pointer;
}

.select-container-sec label {
  cursor: pointer;
}

.field-sec-customize-panel {
  width: 800px !important;
}

.field-sec-customize-panel .offcanvas-header {
  border-bottom: 1px solid var(--grey-color) !important;
}

.no-color {
  color: unset !important;
}

/* .full-image img {
  width: 100% !important;
} */

.web-div .swiper .column-sec {
  width: 100%;
}

.web-div .swiper,
.web-div .swiper .swiper-wrapper {
  padding: 0px !important;
}

.web-div h1,
.web-div h2,
.web-div h3,
.web-div h4,
.web-div h5,
.web-div h6,
.web-div p {
  padding: 0 !important;
}

.data-prop-sec {
  position: sticky;
  right: 0px;
  top: 0px;
  left: 0px;
  background: white;
  padding: 7px 12px;
  box-shadow: -1px 0px 2.5px #8080804a;
  justify-content: space-between;
  margin-left: auto;
  z-index: 110;
  border-bottom: 1px solid var(--grey-color);
}

.data-prop-sec p {
  font-size: 14.5px;
}

.data-prop-sec div[role="button"] {
  margin-left: 5px;
}

.font-select-btn {
  background-color: var(--white-color);
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #00b2aa;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00b2aa;
  text-transform: capitalize;
  font-size: 15px;
  margin-top: 15px !important;
}

.publish-btn-sec .css-b62m3t-container {
  width: 60%;
}

.publish-btn-sec .css-hlgwow {
  padding: 0px 8px !important;
}

.image-full-width-check input {
  outline: none;
  margin-right: 10px;
  transform: scale(1.5);
}

.image-full-width-check {
  margin-top: 54px;
  margin-left: 9px;
}

.web-settings-btn {
  margin-left: 27px;
}

#react-select-3-placeholder {
  font-size: 14px !important;
}

.setting-box {
  width: 700px !important;
}

.setting-box .offcanvas-body {
  background-color: #f8f8f8;
  border-top: 1px solid var(--grey-color);
}

.setting-box .menu-item-table .css-19bb58m {
  padding: 0 !important;
  margin: 4px !important;
}

.menu-action-btn {
  background-color: #fff !important;
  border: 1px solid var(--grey-color) !important;
  padding: 6px 8px !important;
}

.menu-action-btn:hover {
  background-color: #fff !important;
}

.menu-action-btn::after {
  display: none !important;
}

.navbar-section .menu-item {
  margin-right: 35px;
  position: relative;
  
}

.navbar-section .menu-item a {
  text-decoration: none !important;
  display: flex;
  align-items: center;
  color: #000;
  white-space: nowrap;
  cursor: pointer;
}

.navbar-section .menu-item:hover .sub-menu-list.collapse-drop {
  max-height: 400px;
}

.navbar-section .menu-item:hover .sub-menu-list {
  display: block;
}

.navbar-section .menu-item:hover .arrow-icon {
  transform: rotateX(180deg);
}

.navbar-section .menu-item .arrow-icon {
  margin-left: 7px;
  margin-top: -2px;
  transition: ease-in-out 0.4s;
}

.navbar-section .menu-item .sub-menu-list a {
  padding: 5px 10px;
  transition: ease-in-out 0.5s;
  font-size: 15px;
  display: flex;
  border-radius: 4px;
}

.navbar-section .menu-item .sub-menu-list .menu-item {
  margin-right: unset !important;
  padding: 0px !important;
}

.navbar-section .menu-item .sub-menu-list a:hover {
  background-color: #8080801c;
}

.navbar-section .menu-item .sub-menu-list .inner-sub-menu {
  padding: 7px;
  border: 1px solid #e4e2e2;
  border-radius: 4px;
  box-shadow: 0px 1px 5px #8080804a;
  background-color: var(--white-color);
  margin: 4px;
}

.navbar-section .menu-item .sub-menu-list {
  position: absolute;
  transition: ease-in-out 0.5s;
  border-radius: 4px;
  width: 130px;
  top: 25px;
  z-index: 1600;
  right: 0px;
  left: -17px;
  display: none;
}

.navbar-section .menu-item .sub-menu-list.collapse-drop {
  max-height: 0px;
  overflow: hidden;
  display: block !important;
}

.navbar-section .menu-item .sub-menu-list.anim-sub-menu-list {
  max-height: unset !important;
}

.navbar-section .menu-item:hover .sub-menu-list.anim-sub-menu-list {
  max-height: unset !important;
}

.navbar-section .sub-menu-list .menu-item {
  padding: 4px 5px;
}

.nav-logo-upload-sec {
  background-color: #fff;
  padding: 10px 15px;
  border: 1px solid var(--grey-color);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo-upload-sec .remove-btn {
  cursor: pointer;
  font-size: 21px;
}

.icon-pl {
  padding-left: 11px;
}

.no-menus-txt {
  color: #a7a5a5;
  font-size: 15px;
  margin-top: 7px;
}

.menu-icon-box .modal-body {
  padding: 0px !important;
}

.menu-icon-box .modal-body .icons-list {
  max-height: 350px;
  overflow-y: scroll;
}

.navbar-section .menu-item.template-2 .sub-menu-list {
  /* top: 34px !important; */
  border-radius: 0px !important;
}

.navbar-section .menu-item.template-2 .sub-menu-list .inner-sub-menu {
  padding: 0px !important;
  /* border-radius: 1px !important; */
}

.navbar-section .menu-item.template-2 .sub-menu-list a {
  border-radius: 0px !important;
  padding: 8px 10px !important;
  width: 100%;
}

.sub-menu-list[data-aos="fade-up"],
.sub-menu-list[data-aos="zoom-in-up"] {
  transform: translateY(20px);
  opacity: 0;
}

.sub-menu-list[data-aos="fade-up"].aos-animate,
.sub-menu-list[data-aos="zoom-in-up"].aos-animate {
  transform: translateY(0);
  opacity: 1;
}

.setting-box input[aria-haspopup="true"]:focus {
  box-shadow: none !important;
  border: none !important;
}
