:root {
  --white-color: #fff;
  --grey-color: #cdcbcb;
}

body {
  overflow-x: hidden;
}

body:has(.main-content-sec) h1,
body:has(.main-content-sec) h2,
body:has(.main-content-sec) h3,
body:has(.main-content-sec) h4,
body:has(.main-content-sec) h5,
body:has(.main-content-sec) h6,
body:has(.main-content-sec) p {
  margin-bottom: 0 !important;
}

p {
  word-break: break-all;
}

body:has(.main-content-sec) .swiper-pagination {
  display: none;
}

input {
  display: block !important;
}

.field-option-sec {
  background-color: #f8f8f8;
  border: 1px solid var(--grey-color);
  padding: 20px;
  border-radius: 4px;
  height: 85vh;
  overflow: hidden auto;
}

.field-option-sec .field-option {
  border: 1px solid #cdcbcb;
  padding: 10px 12px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: var(--white-color);
  cursor: pointer;
}

.field-option-sec .field-option:last-child {
  margin-bottom: 0px !important;
}

.main-content-sec {
  padding: 14px;
  /* padding-bottom: 0px; */
  background-color: #f8f8f8;
  border: 1px solid var(--grey-color);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}

.drag-over-space {
  padding-bottom: 120px !important;
}

.card-border {
  border: 1px solid var(--grey-color);
}

.main-content-sec .element-column {
  padding: 14px;
  padding-top: 9px;
  background-color: var(--white-color);
  border: 1px solid var(--grey-color);
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 4px;
  width: 100%;
  height: fit-content;
  cursor: grab;
}

.main-content-sec .element-column.selected {
  border-color: #53c4f7;
  border-width: 1.6px !important;
}

.main-content-sec .element-column.selected-card {
  border-color: rgb(247 165 83) !important;
}

.main-content-sec .element-column.hidden {
  opacity: 0.5;
}

.field-customize-sec {
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid var(--grey-color);
  border-radius: 4px;
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.main-content-sec.scrollable {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-content-sec.layer::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgb(190, 189, 189);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(169, 169, 169);
}

.field-customize-sec .customize-prop-sec label {
  display: block;
  margin-bottom: 7px;
  text-transform: capitalize;
  font-size: 15px;
}

.field-customize-sec .customize-prop-sec {
  margin-bottom: 20px;
}

.field-customize-sec .customize-prop-sec .css-19bb58m {
  padding: 4px 0px !important;
}

.field-customize-sec .customize-prop-sec .customize-input,
.modal-dialog-customize .customize-input {
  background-color: var(--white-color);
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--grey-color);
}

.element-input-field,
.element-select-field {
  position: relative;
}

.element-input-field.standard-input input {
  border: none;
  border-bottom: 1px solid var(--grey-color) !important;
  border-radius: 0px !important;
  padding: 10px 0px !important;
}

.element-input-field input::placeholder {
  color: #aaa9a9;
}

.element-input-field.standard-input label {
  left: 0px !important;
}

.element-input-field.standard-input::before {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #000;
  position: absolute;
  bottom: -1px;
  transition: all 0.4s;
}

.element-input-field.standard-input input::placeholder {
  font-size: 15px;
}

.element-input-field.standard-input:has(input:focus)::before {
  width: 100%;
}

.element-input-field.standard-input:has(input:valid) label,
.element-input-field.standard-input:has(input:focus) label {
  top: -15px !important;
}

.element-input-field.float-label,
.element-select-field.float-label {
  margin-top: 15px;
}

.element-input-field.float-label label,
.element-select-field.float-label label {
  position: absolute;
  left: 14px;
  top: 11px;
  transition: all 0.3s;
  background-color: white;
  z-index: -1;
}

.element-input-field.float-label input::placeholder,
.element-select-field.float-label .css-1jqq78o-placeholder {
  color: transparent;
  font-size: 15px;
}

.element-input-field.float-label input:focus::placeholder,
.element-select-field.float-label:has(.css-t3ipsp-control)
  .css-1jqq78o-placeholder {
  color: #aaa9a9;
  transition: all 0.4s;
}

.element-input-field:not(.standard-input).float-label:has(input:valid) label,
.element-input-field:not(.standard-input).float-label:has(input:focus) label,
.element-select-field:not(.standard-input).float-label:has(
    .css-1dimb5e-singleValue
  )
  label,
.element-select-field:not(.standard-input).float-label:has(.css-t3ipsp-control)
  label {
  top: -9px;
  left: 8px;
  font-size: 12.5px;
  padding: 0px 4px;
  z-index: 1 !important;
}

.element-input-field label,
.element-select-field label {
  margin-bottom: 6px;
  display: block;
  font-size: 15px;
}

.element-input-field input {
  background-color: transparent;
  width: 100%;
  padding: 11px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--grey-color);
  transition: all 0.4s;
}

.css-19bb58m {
  margin: 6px !important;
}

.field-render {
  pointer-events: none;
}

.required {
  color: red;
}

.width-tab-sec {
  margin-top: 10px;
  margin-bottom: 20px;
}

.width-tab-sec button {
  width: 100%;
  background-color: var(--white-color);
  padding: 5px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--grey-color);
  vertical-align: top;
  font-size: 14px;
  white-space: nowrap;
}

.width-tab-sec button.selected {
  border-color: #53c4f7;
  color: #53c4f7;
}

.width-customize-sec label {
  margin-bottom: 6px;
  display: block;
  text-transform: capitalize;
}

.width-customize-sec input {
  background-color: var(--white-color);
  width: 100%;
  padding: 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--grey-color);
}

.width-customize-sec input[type="range"] {
  padding: unset !important;
}

.customize-checkbox {
  margin-left: 4px;
  margin-bottom: 20px;
}

.customize-checkbox input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
  /* margin-top: 2px; */
  outline: none;
}

.customize-checkbox label {
  cursor: pointer;
}

.customize-option-sec input {
  background-color: var(--white-color);
  width: 100%;
  padding: 6px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--grey-color);
  margin-bottom: 12px;
}

.modal-dialog-customize .add-option {
  background-color: var(--white-color);
  border: 1px solid #a3a3a3;
  border-radius: 4px;
  outline: none;
  align-items: center;
  margin-left: 15px;
  padding: 0px 8px;
  display: flex;
  font-size: 22px;
}

.stepper-mt {
  margin-top: 28px;
}

.customize-option-sec .option-input {
  position: relative;
}

.customize-option-sec .delete-content-btn {
  width: 90%;
}

.customize-option-sec .page-item-link {
  white-space: nowrap;
  display: block;
}

.customize-option-sec .redirect-page {
  color: #0d6efd !important;
  margin-right: 7px !important;
  margin-top: -2px !important;
  margin-left: 2px;
  font-size: 22px;
}

.customize-option-sec .option-input input {
  padding-right: 34px;
}

.error-message {
  color: red;
  font-size: 14px;
  display: block;
}

.page-list-sec .page-section-tab {
  background-color: var(--white-color);
  border: 1px solid #a3a3a3;
  border-radius: 4px;
  padding: 14px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 25px;
}

.page-create-sec label {
  margin-bottom: 6px;
  display: block;
  text-transform: capitalize;
}

.page-create-sec input {
  background-color: var(--white-color);
  width: 100%;
  padding: 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--grey-color);
  margin-bottom: 12px;
}

.web-div {
  flex-wrap: wrap;
}

.publish-btn-sec button {
  background-color: var(--white-color);
  width: 100%;
  padding: 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #a3a3a3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.publish-btn-sec button svg {
  margin-right: 7px;
}

.loader-sec {
  position: fixed;
  left: 0;
  right: 0;
  background: #808080c2;
  z-index: 1200;
  bottom: 0;
  top: 0;
  display: grid;
  place-items: center;
}

.main-content-sec .element-column:hover .delete-element-btn,
.card-sec .element-column:hover .delete-element-btn2 {
  display: block;
  box-shadow: -1px 1px 3px #8080804a;
}

.delete-element-btn,
.delete-element-btn2 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
  background-color: var(--white-color);
  border-left: 1px solid var(--grey-color);
  border-bottom: 1px solid var(--grey-color);
  z-index: 100;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  display: none;
  cursor: pointer !important;
  transition: all 0.4s;
  width: 33px;
  overflow: hidden;
}

.delete-element-btn .inner-btn-sec,
.delete-element-btn2 .inner-btn-sec {
  width: 78px;
  position: relative;
}

.delete-element-btn .inner-btn-sec::after,
.delete-element-btn2 .inner-btn-sec::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: 1;
  transition: all 0.5s;
}

.delete-element-btn .inner-btn-sec svg,
.delete-element-btn2 .inner-btn-sec svg {
  margin-right: 7px;
}

.delete-element-btn:hover,
.delete-element-btn2:hover {
  width: 86px;
}

.delete-element-btn:hover .inner-btn-sec::after,
.delete-element-btn2:hover .inner-btn-sec::after {
  z-index: -1;
}

.fw-bold {
  text-transform: capitalize;
}

.d-flex.hide {
  display: none !important;
}

hr {
  margin: 0 !important;
}

.card-sec {
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
}

.card-sec .no-data {
  margin: 50px 0px !important;
  flex: 100%;
  text-align: center;
}

.drag-indicator svg {
  transform: rotate(90deg);
  font-size: 21px;
}

.pointer-none {
  pointer-events: none;
}

.pointer-auto {
  pointer-events: auto !important;
}

.cursor-auto {
  cursor: auto !important;
}

.img-border {
  border: 1px solid #8080804a;
  width: fit-content;
}

.shadow-card {
  padding: 20px;
  box-shadow: 0 0 5px 2px #80808042;
  border-radius: 10px;
}

.border-card {
  padding: 20px;
  border: 1px solid #8080804a;
  border-radius: 10px;
}

.border-shadow-card {
  padding: 20px;
  box-shadow: 0 0 5px 2px #80808042;
  border: 1px solid #8080804a;
  border-radius: 10px;
}

.check-box-section input {
  transform: scale(1.5);
  margin-right: 10px;
  margin-left: 3px;
}

.check-box-section label {
  font-size: 15px;
  text-transform: capitalize;
}

.stepper-sec {
  position: relative;
  margin-top: 8px;
  overflow: hidden;
}

.indicator-line {
  position: absolute;
  height: 3.2px;
  left: 0px;
  right: 0px;
  top: 13px;
  background-color: #e0dddd;
  z-index: -1;
}

.active-indicator-line {
  position: absolute;
  height: 3.2px;
  left: 0px;
  top: 13px;
  right: 0px;
  background-color: #223cc5;
  z-index: -1;
  width: 0%;
  /* transition: all 0.1s; */
}

.current-line {
  width: 50%;
}

.previous-line {
  width: 100%;
}

.progress-stepper-sec {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.mobile-stepper-sec {
  display: none;
}

.progress-inner-step {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
  text-align: center;
  flex: 1;
}

.progress-inner-step:first-child::after {
  content: "";
  display: block;
  width: 50%;
  background-color: var(--white-color);
  height: 30px;
  position: absolute;
  left: 0px;
}

.progress-inner-step:last-child::after {
  content: "";
  display: block;
  width: 50%;
  background-color: var(--white-color);
  height: 30px;
  position: absolute;
  right: 0px;
}

.pointer-sec {
  height: 30px;
  width: 30px;
  background-color: #d0cdcd;
  border-radius: 50%;
  box-sizing: border-box;
  margin-bottom: 5px;
  display: grid;
  color: #fff;
  place-items: center;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 14px;
  transition: all 0.4s;
  background-repeat: no-repeat;
  background-position: center;
}

.step-active {
  background-color: #223cc5 !important;
}

.step-txt {
  color: #9a9999;
  font-weight: 500;
  font-size: 15px;
  margin: 0px 7px;
}

.step-txt-active {
  color: #223cc5 !important;
}

.step-txt-completed {
  color: #000 !important;
}

.step-completed {
  background-color: #223cc5 !important;
}

.stepper-content {
  display: flex;
  flex-wrap: wrap;
}

.ml-3 {
  margin-left: 24px;
}

.page-item-link {
  text-decoration: none;
}

.swiper {
  padding: 0px 10px !important;
}

.swiper-wrapper {
  padding-top: 10px !important;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 15px;
}

.customize-content-table table thead th {
  font-weight: 500 !important;
  border-bottom: 1px solid var(--grey-color);
}

.customize-content-table table {
  margin-bottom: 0px !important;
}

.customize-content-table thead {
  position: sticky;
  z-index: 100;
  top: -1px;
}

.customize-content-table {
  height: 65vh;
  overflow-y: auto;
  border: 1px solid var(--grey-color);
}

.customize-content-table tbody tr {
  cursor: grab;
}

.css-1nmdiq5-menu {
  z-index: 120 !important;
}

.element-select-field .css-13cymwt-control {
  background-color: transparent !important;
}
